fastapi
sqlalchemy
sqlalchemy-utils
alembic
async-exit-stack 
async-generator
requests 
boto3
pytz
pyjwt
passlib[bcrypt]
python-multipart
pillow
gunicorn
uvicorn
psycopg2
pytest
pytest-cov
pytest-asyncio